.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.imgElectron {
	width: 128px;
	height: 128px;
    -webkit-animation:spin 16s linear infinite;
}

@-webkit-keyframes spin { 
	100% { 
		-webkit-transform: rotate(360deg); 
	} 
}
